body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

table.data tr:nth-of-type(even) {
	background-color: #F1F1F1;
}

div#login {
    width: 50%;
    background: white;
    float: left;
}
div#register {
    background: white;
}

#order{
	height: 230px;
}