<html ng-app="employeeProject">
<head>
	<script src="javascripts/angular/angular.js"></script>
	<script src="javascripts/angular-cookies/angular-cookies.js"></script>
	<script src="javascripts/homeController.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
</head>

<body>
	<div id="title">
		<h3 align="center">Employee Home Page</h3>
		<a style="text-align: right;float: right;" href="/logout.html">Logout</a>
	</div>
	<br></br>
	<div ng-controller="HomeController as homeController">
		<section>
			<article>
				<fieldset>
					<div id="title">
						<h5 align="center">Employee Information</h5>
					</div>
					<label><strong>Employee Name:&nbsp;</strong></label>
					<span>{{homeController.user.name}}</input>
					<br></br>
					<label><strong>Employee ID:&nbsp;</strong></label>
					<span >{{homeController.user.employeeId}}</input>
					<br></br>
					<label><strong>Department ID:&nbsp;</strong></label>
					<span >{{homeController.user.departMentId}}</input>
					<br></br>
					<label><strong>Employee Role:&nbsp;</strong></label>
					<span ng-switch="homeController.user.role">
						<span ng-switch-when="U" >User</span>
						<span ng-switch-when="A">Administrator</span>
					</span>
					<br></br>
				</fieldset>
			</article>
		</section>
		<br></br>
		<section>
			<article>
				<fieldset>
					<div id="title">
						<h5 align="center">Employee Data Search</h5>
					</div>
					<label><strong>Date: </strong></label>
					<input ng-model= "homeController.dateOfReport" type="date"></input>
					<br></br>
				</fieldset>
			</article>
		</section>
	</div>
	<footer id="copyright">
		<hr></hr>
		<p>Copyright &copy;Employee Department Project 2017. All rights reserved<p>
	</footer>
</body>
</html>