<!doctype html>
<html ng-app="employeeProject">
<head>
	<script src="javascripts/angular/angular.js"></script>
	<script src="javascripts/angular-cookies/angular-cookies.js"></script>
	<script src="javascripts/loginController.js"></script>
	<script src="javascripts/registerController.js"></script>
	<link rel="stylesheet" href="stylesheets/style.css" type="text/css" />
</head>
<body>
	<div id="title">
		<h3 align="center">Employee Login/Registration</h3>
	</div>
	<section>
	<div id="login" ng-controller="LoginController as loginController">
		<section>
			<article>
				<form id="loginform">
					<fieldset id="order">
						<div id="title">
							<h5 align="center">Employee Login</h5>
						</div>
						<label>Employee ID:&nbsp;</label>
						<input ng-model= "loginController.user.employeeId" type="text"></input>
						<br></br>
						<label>Department ID:&nbsp;</label>
						<!-- <textarea required id = "workDesc" name="workDesc" rows="4" cols="50" maxlength="300"></textarea> -->
						<input ng-model= "loginController.user.departMentId" type="text"></input>
						<br></br>
						<label>Password:&nbsp;</label>
						<input ng-model= "loginController.user.password" type="password"></input>
						<br></br>
						<button ng-click="loginController.login(loginController.user);">Login</button>
						<span id="savedmessage" style="color:red;font-weight:bold">{{loginController.errorMessage}}</span>
						<br></br>
						<br></br>
					</fieldset>
			</article>
		</section>
	</div>
	<div id="register" ng-controller="RegisterController">
		<section>
			<article>
				<form id="registerform">
					<fieldset id="order">
						<div id="title">
							<h5 align="center">Employee Registration</h5>
						</div>
						<label>Employee Name:&nbsp;</label>
						<input type="text"></input>
						<br></br>
						<label>Employee ID:&nbsp;</label>
						<input type="text"></input>
						<br></br>
						<label>Department ID:&nbsp;</label>
						<!-- <textarea required id = "workDesc" name="workDesc" rows="4" cols="50" maxlength="300"></textarea> -->
						<input type="text"></input>
						<br></br>
						<label>Password:&nbsp;</label>
						<input type="password"></input>
						<br></br>
						<button>Register</button>
						<span id="savedmessage" style="color:red;font-weight:bold">error message</span>
						<br></br>
					</fieldset>
			</article>
		</section>
	</div>
	<section>
	<footer id="copyright">
		<hr></hr>
		<p>Copyright &copy;Employee Department Project 2017. All rights reserved<p>
	</footer>
</body>
</html>